body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

h1 {
  color: #212121;
  font-size: 2.4em;
  font-weight: 300;
  text-align: center;
  padding: 20px 0;
}

nav {
  background-color: #3F51B5;
  padding: 15px 0px;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #BBDEFB;
}

router-outlet {
  margin: 20px;
}