<h2>Website Details</h2>

<div class= center-content>
    <p>URL: {{showPath(website.url)}}</p>
    <p>Registration Date: {{showTime(website.submissionDate)}}</p>
    <p>Last Appraisal Date: {{showTime(website.appraisalDate)}}</p>
    <h3>Monitored Pages</h3>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Conformity</th>
                <th>Last Appraisal Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let page of showPages()">
                <td>{{page.url}}</td>
                <td>{{getEvaluation()}}</td>
                <td>{{showTime(page.appraisalDate)}}</td>
            </tr>
        </tbody>
    </table>
    
</div>

