<h2>Adiciona um novo website</h2>

    <div class="center-content">
        <input [(ngModel)]="url" placeholder="Enter website URL">
        <button (click)="addWebsite(url)">Add Website</button>
    </div>

    <div *ngIf="websites.length > 0">
        <table>
            <thead>
                <tr>
                    <th>Website</th>
                    <th>Status</th>
                    <th (click)="sortSub()">Submission date</th>
                    <th>Last appraisal date</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let website of websites">
                    <td>{{website.url}}</td>
                    <td>{{website.status}}</td>
                    <td>{{website.submissionDate}}</td>
                    <td>{{website.appraisalDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>


