body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.center-content strong {
    margin-bottom: 10px;
}

select {
    width: 200px;
    height: 35px;
    background: white;
    color: black;
    padding-left: 5px;
    font-size: 14px;
    border: none;
    margin-left: 10px;
    border: black 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background-color: #3F51B5;
    color: white;
    text-align: left;
    padding: 10px;
}

table tbody td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

button {
    background-color: #3F51B5;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #3F51B5;
}


td, th {
    border: 1px solid black;
}