<div class="center-content">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" (click)="checkAll(this.cboxCheck)">Remove</th>
                <th>Website</th>
                <th>Status</th>
                <th></th>     
            </tr>
        </thead>
        <tbody>
            <tr class="rowDel" *ngFor="let website of websites">
                <td><input type="checkbox" class="cbox"></td>
                <td>{{website.url}}</td>
                <td>{{website.status}}</td>
                <td (click)="goToDetails(website)"><button>Check details</button></td>
            </tr>
        </tbody>
    </table>
    <button  (click)="DeleteAll()">Delete</button>
</div>
